.find-out-more {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-top: 12%;
    color: var(--gray);
    background-image: linear-gradient(to bottom, var(--green), var(--white) 10%, var(--white));
}
.find-out-more-img-top {
    width: 100%;
    height: auto;
    -webkit-mask-image: linear-gradient(to top, transparent, black 15%, black 95%, transparent);
    mask-image: linear-gradient(to top, transparent, black 15%, black 95%, transparent);
}

.find-out-more-content{
    text-align:center
}
.find-out-more-content div {
    text-align: justify
}
.find-out-more-content h1 {
    color: var(--green);
    font-weight: 700
}
.find-out-more-content .span-purple, .find-out-more-content .span-green {
    font-weight: 600
}

.find-out-more-content p .span-green{
    font-weight: 500
}
/* MOBILES */
@media (max-width: 400px) {
    .find-out-more-content {
        padding-top: 15%;
        width: 70%
    }
    .find-out-more-content div h1{
        margin: 5% 0%;
        text-align: left
    }
    .find-out-more-content .btn{
        width: 100%;
        margin: 10% 0% 14% 0%;
    }
}
@media (min-width: 401px) {
    .find-out-more-content {
        padding-top: 15%;
        width: 70%
    }
    .find-out-more-content div h1{
        margin: 5% 0%;
        text-align: left
    }
    .find-out-more-content .btn{
        width: 100%;
        margin: 10% 0% 14% 0%;
    }

    .find-out-more-content .btn-purple{
        font-size: larger
    }
}

@media (min-width: 480px) {
    .find-out-more-content .btn{
        width: 85%;
        margin: 10% 0% 14% 0%;
    }
}
/* TABLETS */
@media (min-width: 610px) {
    .find-out-more-content {
        padding-top: 0;
    }
    .find-out-more-content .btn {
        width: 75%;
    }
}

@media (min-width: 768px) {
    .find-out-more {
        padding-top: 2%
    }
    .find-out-more-content {
        width: 60%
    }
    .find-out-more-content .btn, .find-out-more-img-top {
        width: 70%;
    }

    .find-out-more-img-top {
        border-radius: 20px
    }
}

/* NOTEBOOKS*/
@media (min-width: 1024px) {
    .find-out-more-content .btn {
        width: 60%;
    }
}

/* DESKTOPS */
@media (min-width: 1280px) {
    .find-out-more-content {
        width: 55%
    }
    .find-out-more-content .btn, .find-out-more-img-top {
        width: 50%;
    }

}

@media (min-width: 1440px) {
    .find-out-more-content {
        width: 50%
    }

    .find-out-more-content .btn {
        width: 40%;
    }
}