<header>
  <h6 data-aos="fade-up" class="rotary-year">ANO ROTÁRIO 2025 - 2026 - URUÇUÍ</h6>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand text-light" href="">
        <img src="assets/Imgs/WHITE-LOGO-ROTARY-CLUB-URUÇUÍ.png" alt="Logo da Rotary Club de Uruçuí." height="50" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target=".navbar-collapse"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="65"
          height="65"
          viewBox="0,0,256,256"
        >
          <g
            fill="#ffffff"
            fill-rule="nonzero"
            stroke="none"
            stroke-width="1"
            stroke-linecap="butt"
            stroke-linejoin="miter"
            stroke-miterlimit="10"
            stroke-dasharray=""
            stroke-dashoffset="0"
            font-family="none"
            font-size="none"
            style="mix-blend-mode: normal"
          >
            <g transform="scale(3.55556,3.55556)">
              <path
                d="M56,48c2.209,0 4,1.791 4,4c0,2.209 -1.791,4 -4,4c-1.202,0 -38.798,0 -40,0c-2.209,0 -4,-1.791 -4,-4c0,-2.209 1.791,-4 4,-4c1.202,0 38.798,0 40,0zM56,32c2.209,0 4,1.791 4,4c0,2.209 -1.791,4 -4,4c-1.202,0 -38.798,0 -40,0c-2.209,0 -4,-1.791 -4,-4c0,-2.209 1.791,-4 4,-4c1.202,0 38.798,0 40,0zM56,16c2.209,0 4,1.791 4,4c0,2.209 -1.791,4 -4,4c-1.202,0 -38.798,0 -40,0c-2.209,0 -4,-1.791 -4,-4c0,-2.209 1.791,-4 4,-4c1.202,0 38.798,0 40,0z"
              ></path>
            </g>
          </g>
        </svg>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-between"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav flex-grow-1 justify-content-center">
          <li class="nav-item-edited">
            <a (click)="scrollTo('app-home')" class="nav-link text-light">Início</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Sobre</a
            >
            <ul class="dropdown-menu">
              <li class="nav-item-edited">
                <a class="nav-link text-light" (click)="scrollTo('app-about')">Quem somos</a>
              </li>
              <li class="nav-item-edited">
                <a class="nav-link text-light" (click)="scrollTo('app-about')">Diretoria</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Ações</a
            >
            <ul class="dropdown-menu">
              <li class="nav-item-edited">
                <a (click)="scrollTo('app-projects')" class="nav-link text-light">Projetos</a>
              </li>
              <li class="nav-item-edited">
                <a (click)="scrollTo('app-blog')" class="nav-link text-light">Notícias</a>
              </li>
              <li class="nav-item-edited">
                <a (click)="scrollTo('app-agenda')" class="nav-link text-light">Agenda</a>
              </li>
            </ul>
          </li>
          <li class="nav-item-edited">
            <a (click)="scrollTo('app-partners')" class="nav-link text-light">Parceiros</a>
          </li>
          <li class="nav-item-edited">
            <a (click)="scrollTo('app-contribute')" class="nav-link text-light">Doe Agora</a>
          </li>
          <li class="nav-item-edited">
            <a class="nav-link text-light" (click)="scrollTo('app-contacts')">Contatos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>