/* 
board of director = Diretoria
board director = Conselho Diretor
*/

.board-of-directors {
    padding-top: 10%;
    width: 100vw
}

.board-of-directors, .rotary-member, .rotary-member-content, .member-header {
    display: flex;
    justify-content: center;
    align-items: center
}
.rotary-member img, .member-header img{
    border-radius: 50%
}
.rotary-member img:hover, .member-header img:hover{
    filter: drop-shadow(4px 2px 1px var(--yellow))
}
.board-of-directors h1, .board-director {
    color: var(--dark-blue)
}
.board-director, .board-director-position{
    background-color: var(--dark-blue)
}

.rotary-member{
    margin: 5% 0%
}
.member-header div h5{
    font-weight: 600
}
.board-of-directors-content {
    color: var(--gray);
    width: 90%
}
.board-director, .commissions{
    color: var(--white) !important;
    padding: 0.5em
}
.commissions, .commissions-position {
    background-color: var(--green)
}
.board-director-position, .commissions-position {
    display: inline-block;
    color: var(--white);
    text-align: center;
    border-radius: 20px;
}
.board-director-position {
    padding: 1% 4%
}
.commissions-position{
    padding: 3px 9px
}
.rotary-member-content {
    flex-direction: column;
}
.member-description{
    text-align:justify
}
/* MOBILE */
@media (max-width: 480px) {
    .board-director{
        margin: 15% 0%
    }
    .rotary-member img, .member-header img {
        width: 30%;
        padding-right: 5%
    }
    .member-description{
        width: 85%
    }
}
@media (min-width: 481px) {
    .board-director {
        margin: 15% 0%
    }
    .rotary-member img, .member-header img {
        width: 30%;
        padding-right: 5%
    }
    .member-description {
        width: 85%
    }
    .board-of-directors-content{
        width: 80%
    }
}

/* TABLET */
@media (min-width: 610px) {
    .board-of-directors-content {
        width: 75%
    }
    .board-director {
        margin: 13% 0%
    }

    .rotary-member{
        align-items:flex-start
    }
}

@media (min-width: 768px) {
    .board-of-directors-content {
        width: 70%
    }
    .rotary-member img, .member-header img {
        width: 35%;
    }
    .member-description, .member-header {
        width: 100%
    }
    .member-header {
        justify-content: left
    }
}
/* NOTEBOOK*/
@media (min-width: 1024px){
    .board-of-directors-content {
        width: 60%
    }
}
@media (min-width: 1281px) {
    .board-of-directors-content {
        width: 50%
    }
    .rotary-member {
        align-items: center
    }
}

/* DESKTOP */
    
@media (min-width: 1440px) {

}
@media (min-width: 1991px){

}