.news-details-img, .news-details-img-text {
    width: 100%;
    height: auto;
}
.news-details-img-text{
    border-radius: 10px
}

.news-details-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-top: 10%
}
.news-details-title {
    font-weight: 700;
    color: var(--dark-blue)
}

.share-content {
    display: grid;
    justify-content: center;
    gap: 2%;
    grid-template-columns: repeat(3, 20%);
}
.share-content-option {
    all: unset;
    cursor: pointer;
    text-align: center;
    background-color: var(--light-gray);
    color: var(--dark-blue);
    border-radius: 5px;
    padding: 5px 10px;
}
.share-content-option:hover {
    background-color: var(--gray);
    color: var(--white);
}    

@media (max-width: 480px) {
    .news-details {
        width: 70%;
    }
}
@media (min-width: 481px) {
    .news-details {
        width: 70%;
    }
}
@media (min-width: 610px) {
    .news-details {
        width: 65%;
    }
}

@media (min-width: 768px) {
    .news-details {
        width: 60%;
    }
}

@media (min-width: 1025px) {
    .news-details {
        width: 55%;
    }
}
@media (min-width: 1280px) {
}
    
@media (min-width: 1440px) {
}
@media (min-width: 1991px){
}