<header>
  <h6 data-aos="fade-up" class="rotary-year">ANO ROTÁRIO 2025 - 2026 - URUÇUÍ</h6>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand text-light" routerLink="">
        <img src="assets/Imgs/WHITE-LOGO-ROTARY-CLUB-URUÇUÍ.png" alt="Logo da Rotary Club de Uruçuí." height="50" />
      </a>
      
      <li class="nav-item-edited">
        <a routerLink="/" class="nav-link text-light">Voltar ao início</a>
      </li>
    </div>
  </nav>
</header>