<footer class="footer">
  <div class="container">
    <div class="footer-as-secondary-menu">
      <div class="footer-logo">
        <img
          src="assets/Imgs/WHITE-LOGO-ROTARY-CLUB-URUÇUÍ.png"
          href=""
          alt="Logo da Rotary Club de Uruçuí."
          height="90"
        />
      </div>
      <nav data-aos="fade-up" class="nav-footer">
        <div class="nav-footer-item">
          <p class="nav-link">Sobre</p>
          <ul>
            <li>
              <a (click)="scrollTo('app-about')" class="nav-link">Quem Somos</a>
            </li>
            <li>
              <a (click)="scrollTo('app-about')" class="nav-link">Diretoria</a>
            </li>
          </ul>
        </div>
        <div class="nav-footer-item">
          <p class="nav-link">Ações</p>
          <ul>
            <li>
              <a (click)="scrollTo('app-projects')" class="nav-link">Projetos</a>
            </li>
            <li>
              <a (click)="scrollTo('app-blog')" class="nav-link">Notícias</a>
            </li>
            <li>
              <a (click)="scrollTo('app-agenda')" class="nav-link" >Agenda</a>
            </li>
          </ul>
        </div>
        <div class="nav-footer-item">
          <p class="nav-link">Redes de contato</p>
          <ul>
            <li>
              <a class="nav-link" href="https://www.instagram.com/rotaryclubdeurucui"
                >Instagram</a
              >
            </li>
            <li>
              <a
                class="nav-link"
                href="mailto:rotaryurucui@gmail.com?subject=Proposta%20de%20Parceria%20%E2%80%93%20Via%20site%20do%20Rotary%20Club%20de%20Uru%C3%A7u%C3%AD&body=Ol%C3%A1%2C%20Rotary%20Club%20de%20Uru%C3%A7u%C3%AD!%0D%0A%0D%0AEntrei%20em%20contato%20atrav%C3%A9s%20do%20site%20porque%20tenho%20interesse%20em%20propor%20uma%20parceria.%0D%0A%0D%0ASegue%20abaixo%20um%20breve%20resumo%20da%20proposta%3A%0D%0A%0D%0ANome%3A%0D%0AOrganiza%C3%A7%C3%A3o%20%2F%20Empresa%3A%0D%0ATipo%20de%20parceria%20desejada%3A%0D%0ADescri%C3%A7%C3%A3o%20da%20proposta%3A%0D%0A%0D%0AFico%20%C3%A0%20disposi%C3%A7%C3%A3o%20para%20conversarmos%20melhor.%0D%0A%0D%0AAtenciosamente%2C%0D%0A%5BSeu%20Nome%5D%0D%0A%5BTelefone%20%2F%20E-mail%20para%20contato%5D"
                >E-mail</a
              >
            </li>
          </ul>
        </div>
        <div class="nav-footer-item">
          <p class="nav-link">Rotary Internacional</p>
          <ul>
            <li>
              <a class="nav-link" href="https://www.rotary.org">rotary.org</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="credits-for-developer" align="right">
      Desenvolvido por <a href="https://devguilherme.onrender.com/">DEVguilherme</a>
    </div>
    <p>&copy; 2025 - Rotary Club de Urucui. Todos os direitos reservados.</p>
  </div>
</footer>