.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    border-radius: 0 100px 0 0;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
}

.footer-as-secondary-menu {
    padding: 4% 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-footer{
    display: flex;
    justify-content: center;
}

.footer-logo{
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-footer, .nav-footer-item {
    align-items: baseline;
}
.nav-footer-item {
    all: unset;
    text-align: left;
}

.nav-footer-item ul{
    padding-left: 0;
}
.nav-footer-item ul li{
    padding: 1%;
    text-decoration:none;
    list-style: none;
}
.nav-footer-item ul li:hover{
    color: var(--white);
    background-color:var(--yellow)
}
.nav-footer-item ul li a{
    text-decoration:none
}

.credits-for-developer, .nav-footer-item ul {
    color: var(--gray)
}
.credits-for-developer a{
    text-decoration:none;
    color: var(--yellow);
}
.credits-for-developer a:hover{
    text-decoration-line:underline;
} 

/* MOBILE */
@media (max-width: 480px) {
    .footer .nav-link {
        padding: 0 1rem;
    }      
    .footer-as-secondary-menu {
        flex-direction: column;
    }
}

/* TABLETS */
@media (max-width: 768px) {

    .credits-for-developer, .footer .container p {
        padding: 3rem 0
    }

    .footer .nav-link {
        padding: 0 1rem;
    }
    .footer-logo{
        padding: 1rem 0 3rem 0
    }

    .nav-footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
    }
    .nav-footer-item {
        all: unset;
        text-align: center;
    }
    
    .footer-as-secondary-menu {
        justify-content: center;
        flex-direction: column;
    }
}
@media (min-width: 769px) {
    .footer .nav-link {
        padding: 0 1rem;
    }
    .nav-footer {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .footer-as-secondary-menu {
        flex-direction: row;
    }
}

/* DESKTOPS */
@media (min-width: 1024px) {
    .nav-footer {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}
@media (min-width: 1280px) {
    .footer-as-secondary-menu {
        justify-content: center;
        flex-direction: row;
    }
}
@media (min-width: 1280px) {
    .footer-as-secondary-menu {
        justify-content: space-around;
        flex-direction: row;
    }
}