.home-photo {
    left: 0;
    height: auto;
    width: calc(100vw / 2);
    border-radius: 10px 200px 10px 10px;
    -webkit-mask-image: linear-gradient(to right, transparent 0, black 10%);
}
.home-contribute {
    display: flex;
    color: var(--white);
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 30px;
}

.card-contribute {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    filter: drop-shadow(1px 3px 4px var(--purple))
}
.card-contribute-pix {
    display: flex;
    color: var(--gray);
    border-radius: 10px;
}
.card-contribute h5 {
    font-weight: 750;
}
.card-contribute h5 span{
    color: var(--green)
}
.card-contribute img {
    left: 0;
    top: 0;
    width: calc(100vw / 5);
    height: auto;
}
.card-contribute-details{
    display: flex;
    flex-direction:column;
    justify-content:center;
}

.element-for-tablet-and-desktop {
    display: block
}
.element-for-mobile {
    display: none
}

/* MOBILE */
@media (max-width: 480px){
    .element-for-tablet-and-desktop {
        display: none
    }
    .element-for-mobile {
        display: block
    }

    #home {
        flex-direction: column;
        padding-top: 10%;
    }
    .home-contribute {
        display: flex;
        flex-direction: column;
        gap: 20px
    }
    .home-photo {
        height: auto;
        width: 100vw;
        border-radius: 0px 50px 0 0;
        -webkit-mask-image: linear-gradient(to top, transparent 0, black 20%);
    }
    
    .card-contribute {
        width: 100%;
    }
    .card-contribute img {
        width: calc(100vw / 2);
        height: auto;
    }
    .card-contribute-pix {
        flex-direction: column;
        align-items: center
    }
    .card-contribute-details {
        align-items:center;
        justify-items:center
    }
}

@media (min-width: 481px) {
    .element-for-tablet-and-desktop {
        display: none
    }
    .element-for-mobile {
        display: block
    }

    #home {
        flex-direction: column;
        padding-top: 10%;
    }
    .home-contribute {
        display: flex;
        flex-direction: column;
        gap: 20px
    }
    .home-photo {
        height: auto;
        width: 100vw;
        border-radius:0 60px 0 0;
        -webkit-mask-image: linear-gradient(to top, transparent 0, black 20%);
    }
    
    .card-contribute {
        width: 100%;
    }
    .card-contribute img {
        width: calc(100vw / 2);
        height: auto;
    }
    .card-contribute-pix {
        flex-direction: column;
        align-items: center
    }
    .card-contribute-details {
        align-items:center;
        justify-items:center
    }
}

/* TABLETS*/
@media (min-width: 610px) {  
    .element-for-tablet-and-desktop {
        display: none
    }
    .element-for-mobile {
        display: block
    }

    #home {
        flex-direction: column;
        padding-top: 10%;
    }
    .home-contribute {
        display: flex;
        flex-direction: column;
        gap: 20px
    }
    .home-photo {
        height: auto;
        width: 100vw;
        border-radius: 0 110px 0 0;
        -webkit-mask-image: linear-gradient(to top, transparent 0, black 20%);
    }
    
    .card-contribute {
        width: 100%;
    }
    .card-contribute img {
        width: calc(100vw / 3);
        height: auto;
    }

    .card-contribute-pix {
        flex-direction: row;
        align-items: center
    }
    .card-contribute-details {
        align-items:center
    }
}

@media (min-width: 769px) {
    .home-photo {
        height: auto;
        width: 100vw;
        border-radius: 0 110px 0 0;
        -webkit-mask-image: linear-gradient(to top, transparent 0, black 20%);
    }
}

/* NOTEBOOKS */
@media (min-width: 1025px) {
    .element-for-tablet-and-desktop {
        display: block
    }

    .element-for-mobile {
        display: none
    }
    
    #home {
        flex-direction: row;
        padding: 2%;
        gap: 2%
    }

    .home-photo {
        width: 50vw;
        height: auto;
        z-index: 2;
        border-radius: 10px 110px 0 0;
        -webkit-mask-image: linear-gradient(to top, transparent 0, black 50%);
    }

    .home-contribute {
        z-index: 3;
        width: 48%;
    }
    .card-contribute img {
        width: calc(100vw / 5)
    }
}

/* DESKTOPS */
@media (min-width: 1281px) {
    .element-for-tablet-and-desktop {
        display: block
    }

    .element-for-mobile {
        display: none
    }

    #home {
        flex-direction: row;
        gap: 2%
    }
    .home-contribute {
        z-index: 3;
        width: 40%;
    }

    .card-contribute {
        display: ruby;
        border-radius: 20px;
    }
    .card-contribute img {
        width: calc(100vw / 5.5)
    }
}

@media (min-width: 1241px) {
    .card-contribute {
        display: ruby;
        border-radius: 20px;
    }
}

@media (min-width: 1440px) {
    #home {
        padding-top: 0;
        padding-bottom: 1%;
    }

    .home-photo {
        width: 40vw;
        border-radius: 110px 110px 0 0;
        -webkit-mask-image: linear-gradient(to top, transparent 0, black 50%);
    }

    .card-contribute{
        display: ruby;
        border-radius: 20px;
    }
    .card-contribute-pix {
        justify-content: space-evenly
    }
}

@media (min-width: 1991px) {
    #home {
        padding-top: 2%;
        padding-bottom: 5%;
        flex-direction: column;
    }

    .card-contribute {
        display: ruby;
        border-radius: 20px;
        width: 36vw;
    }
}