:root {
    /* ---- COLORS ---- */
    --green: #018D8E;
    --black: #1E1E1E;
    --gray: #797470;
    --purple: #872176;
    --yellow: #EFA92D;
    --dark-blue: #17458F;
    --light-blue: #019FCC;
    --white: #FFFFFF;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

/* TOPICS */
.section-topic{
    display: flex;
    align-items: center;
}
.section-topic img{
    width: auto;
    height: 35px;
    padding-right: 10px;
    animation: roleLeft 2s ease-in-out
}
.section-topic h1{
    color: var(--dark-blue);
    font-weight: 700
}


/* BUTTONS */
.btn {
    width: 300px;
    height: 50px;
    align-content: center;
    padding: 2px 5px;
    font-weight: 700;
    text-decoration: none;
}

.btn-copy-key-pix {
    width: 200px;
    height: auto;
    padding: 2px;
    border-radius: 50px;
    color: var(--purple);
    background-color: var(--white);
    border: 2px solid var(--purple);
    border-radius: 10px;
}
.btn-copy-key-pix:hover {
    color: var(--yellow);
    border: 2px solid var(--yellow);
}

.btn-purple {
    width: 100%;
    color: var(--white);
    background-color: var(--purple);
    border-radius: 50px;
    filter: drop-shadow(1px 3px 4px var(--black))
}
.btn-purple:hover{
    color:var(--white);
    background-color: var(--yellow);
}

.btn-yellow {
    color: var(--white);
    background-color: var(--yellow);
    border-radius: 14px;
    filter: drop-shadow(1px 3px 2px var(--black))
}
.btn-yellow:hover {
    color: var(--white);
    background-color: var(--purple);
}

.btn-contribute-project {
    width: 100%;
    color: var(--purple);
    padding-bottom: 6%
}
.btn-contribute-project:hover {
    color: var(--yellow);
}
.btn-contribute-project::after{
   content: "▼";
}

/* SPAN STYLES */

.span-light-blue{
    color: var(--dark-blue);
    filter: saturate(100);
}

.span-yellow {
    color: var(--yellow);
}

.span-green, .span-read-more {
    color: var(--green);
}

.span-read-more{
    text-decoration-line:underline
}

/* GLOBAL STYLES */

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    background: linear-gradient(to top, var(--black) 50%, var(--green) 50%);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.element-for-tablet-and-desktop {
    display: block
}
.element-for-mobile {
    display: none
}

@media (max-width: 480px){
    .element-for-tablet-and-desktop {
        display: none
    }
    .element-for-mobile {
        display: block
    }
}
@media (min-width: 481px) {
    .element-for-tablet-and-desktop {
        display: none
    }
    .element-for-mobile {
        display: block
    }
}
@media (min-width: 610px) {
    .element-for-tablet-and-desktop {
        display: none
    }

    .element-for-mobile {
        display: block
    }
}

@media (min-width: 768px) {
    .element-for-tablet-and-desktop {
        display: block
    }

    .element-for-mobile {
        display: none
    }
    .about-img {
        width: 30vw;
        border-radius: 20px
    }

    html {
        font-size: 16px;
    }
}

@media (min-width: 1025px){
    .section-topic {
        justify-self: flex-start;
        padding: 0
    }

    .element-for-tablet-and-desktop {
        display: block
    }
    .element-for-mobile {
        display: none
    }

    .btn-purple {
        width: 50%;
        color: var(--white);
        background-color: var(--purple)
    }
}
@media (min-width: 1281px) {
    .section-topic {
        justify-self: flex-start;
        padding: 0
    }
}
    
@media (min-width: 1440px) {
    .section-topic {
        justify-self: flex-start;
        padding: 0
    }

    .element-for-tablet-and-desktop {
        display: block
    }

    .element-for-mobile {
        display: none
    }

    html {
        font-size: 16px;
    }

    .btn-contribute {
        width: 300px;
        height: auto;
        padding: 3px;
    }
}
@media (min-width: 1991px){
    .section-topic {
        justify-self: flex-start;
        padding: 0;
    }
}

/*  ANIMATIONS  */

@keyframes roleLeft {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}