/*My code*/
:root {
    /* ---- COLORS ---- */
    --green: #018D8E;
    --black: #1E1E1E;
    --gray: #797470;
    --purple: #872176;
    --yellow: #EFA92D;
    --dark-blue: #17458F;
    --light-blue: #019FCC;
    --white: #FFFFFF;
}


html {
  font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

