@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="section text-center" id="home">
    <img class="home-photo" src="~/Media/Imgs/HOME-ROTARY-CLUB-DE-URUÇUÍ.jpg" alt="Alternate Text" />
    <div class="home-contribute">
        <h1>UNIDOS PARA <br> FAZER O BEM</h1>
        <div class="card-contribute">        
            <div class="card-contribute-pix">
                <img src="~/Media/Imgs/PIX-ROTARYCLUB-URUCUI-BR-CODE.png" alt="Br code para realizar doação para o Rotary Club de Uruçuí." />
                <div class="card-contribute-details">
                    <h5>Doe qualquer valor <span>via PIX!</span></h5>
                    <p id="textForToCopy">52.476.099/0001-04</p>
                    <button type="button" class="btn btn-copy-key-pix" onclick="copyToClipboard('textForToCopy')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z" />
                        </svg>
                        Copiar chave PIX!
                    </button>
                </div>
            </div>
            <a class="btn btn-purple element-for-tablet-and-desktop" href="#">CONTRIBUIR</a>
        </div>
        <a class="btn btn-purple element-for-mobile">CONTRIBUIR</a>
    </div>
</div>

<div class="section" id="about">
    <div class="section-topic">
        <img class="element-for-mobile" src="~/Media/Imgs/ROTARY-ENDRENAGEM.png" alt="Imagem da endrenagem da logo do rotary club" />
        <h1 class="element-for-mobile">QUEM SOMOS</h1>
    </div>
    <div class="about-main-content">
        <div>
            <div class="section-topic">
                <img class="element-for-tablet-and-desktop" src="~/Media/Imgs/ROTARY-ENDRENAGEM.png" alt="Imagem da endrenagem da logo do rotary club" />
                <h1 class="element-for-tablet-and-desktop">QUEM SOMOS</h1>
            </div>
            <div class="about-description">
                <p>Somos parte de uma rede global presente em mais de 200 países, com 1,4 milhão de pessoas em ação.</p>
                <p>Fundado em 2023, nosso clube reúne líderes voluntários de diferentes áreas para servir à comunidade com <span class="span-light-blue">ética</span>, <span class="span-light-blue">solidariedade</span> e <span class="span-light-blue">compromisso</span>.</p>
                <p>Nossa missão é clara: <span class="span-yellow">fazer o bem</span>, <span class="span-yellow">fortalecer laços</span> e  <span class="span-yellow">gerar impacto positivo</span> em Uruçuí e no mundo.</p>
            </div>
            <div class="about-links">
                <a class="btn btn-yellow" asp-area="" asp-page="" asp-fragment="">SAIBA MAIS</a>
                <a class="btn btn-yellow" asp-area="" asp-page="" asp-fragment="">DIRETORIA</a>
            </div>
        </div>
        <img class="about-img" src="~/Media/Imgs/PROVA-QUÁDRUPULA-DO-ROTARY.png" alt="A prova quádrupula do Rotary CLub"/>
    </div>
</div>

<div class="section" id="projects">
    <div class="section-topic">
        <img src="~/Media/Imgs/ROTARY-ENDRENAGEM.png" alt="Imagem da endrenagem da logo do rotary club" />
        <h1>PROJETOS</h1>
    </div>
    <p>Cada projeto do Rotary nasce para atender uma necessidade real da comunidade.</p>

    <!-- Swiper -->
    <swiper-container pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
                      slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
                      coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true" loop="true">      
        <swiper-slide>
            <img src="~/Media/Imgs/BANCO-ORTOPÉDICO-PROJETO-ROTARY-CLUB-DE-URUÇUÍ.png" alt="Ilustração para o projeto Banco Ortopédico do Rotary Club de Uruçuí."/>
            <h4>Mobilidade para Todos</h4>
            <p>Entrega cadeiras de rodas e recursos de acessibilidade, garantindo dignidade, autonomia e inclusão social.</p>
            <a class="btn btn-contribute-project">Apoiar projeto</a>
        </swiper-slide>     
        <swiper-slide>
            <img src="~/Media/Imgs/PROJETO-ALFABETIZAÇÃO-DO-ROTARY-CLUB-DE-URUÇUÍ.jpg" />
            <h4>Projeto de Alfabetização</h4>
            <p>Promove reforço e acompanhamento escolar para crianças e jovens, abrindo portas para novas oportunidades de futuro.</p>
            <a class="btn btn-contribute-project">Apoiar projeto</a>
        </swiper-slide>
        <swiper-slide>
            <img src="~/Media/Imgs/PROJETO-PADRINHOS-DA-LEITURA.jpg"/>
            <h4>Padrinhos da Leitura</h4>
            <p>Conecta alunos a padrinhos solidários que incentivam a leitura, a educação e a cidadania de forma acolhedora.</p>
            <a class="btn btn-contribute-project">Apoiar projeto</a>
        </swiper-slide>
        <swiper-slide>
            <img src="~/Media/Imgs/PROJETO-REVISA-ENEM-ROTARY-CLUB-DE-URUCUI.jpg" />
            <h4>Revisão ENEM</h4>
            <p>Oferece apoio gratuito a jovens em preparação para vestibulares e ENEM, ampliando o acesso ao ensino superior.</p>
            <a class="btn btn-contribute-project">Apoiar projeto</a>
        </swiper-slide>
    </swiper-container>

</div>

<div class="section" id="blog">
    <div class="section-topic">
        <img src="~/Media/Imgs/ROTARY-ENDRENAGEM.png" alt="Imagem da endrenagem da logo do rotary club" />
        <h1>ÚLTIMAS NOTÍCIAS</h1>
    </div>

    <swiper-container space-between="30" slides-per-view="auto" pagination="true"
                      pagination-clickable="true" centered-slide="true" loop="true">
        <swiper-slide>
            <a class="blog-card" asp-area="" asp-page="" asp-fragment="">
                <img src="~/Media/Imgs/BLOG-ENTREGA-DE-KITS-ESCOLARES.jpg" alt="Rotary Club de Uruçuí entregando Kits Escolares no Itajacy Pacheco Martins" />
                <div class="blog-card-content">
                    <h6>Rotary realiza doação de kits escolares</h6>
                    <p class="element-for-tablet-and-desktop">O Rotary Club de Uruçuí com apoio da Secretaria Municipal de Uruçuí esteve na Unidade Escolar Itajacy Pacheco para realizar a entrega dos estojos e kits escolares do projeto Letras Mágicas.</p>
                    <p class="element-for-mobile">O Rotary Club de Uruçuí com apoio da Secretaria Municipal de Uruçuí esteve na Unidade Escolar Itajacy Pacheco Martins para ... <span class="span-read-more">Continue lendo aqui.</span></p>
                </div>
           </a>
        </swiper-slide>
        <swiper-slide>
            <a class="blog-card" asp-area="" asp-page="" asp-fragment="">
                <img src="~/Media/Imgs/BLOG-BINGO-DO-ROTARY.jpg" alt="Rotary Club realizando Bingo Beneficente" />
                <div class="blog-card-content">
                    <h6>Solidariedade em ação no Bingo do Rotary</h6>
                    <p class="element-for-tablet-and-desktop">O Bingo – Rodadas do Bem contou com grande participação da comunidade e reforçou o compromisso do Rotary em multiplicar sorrisos e apoiar quem precisa.</p>
                    <p class="element-for-mobile">O Bingo – Rodadas do Bem contou com grande participação da comunidade e reforçou o compromisso do Rotary em ... <span class="span-read-more">Continue lendo aqui.</span></p>
                </div>
            </a>
        </swiper-slide>
        <swiper-slide>
            <a class="blog-card" asp-area="" asp-page="" asp-fragment="">
                <img src="~/Media/Imgs/BLOG-PARCERIA-COM-UNICESUMAR.jpg" alt="Rotary Club de Uruçuí realizando parceria com a Unicesumar - Polo de Floriano - Piauí" />
                <div class="blog-card-content">
                    <h6>Rotary promove ação educativa com foco no ENEM</h6>
                    <p class="element-for-tablet-and-desktop">O encontro reuniu o Rotary, a Unicesumar e autoridades educacionais para apresentar o projeto “Revisão ENEM 2025” e reforçar a educação em Uruçuí.</p>
                    <p class="element-for-mobile">O encontro reuniu o Rotary, a Unicesumar e autoridades educacionais para apresentar o projeto o projeto “Revisão ENEM 2025” e ... <span class="span-read-more">Continue lendo aqui.</span></p>
                </div>
            </a>            
        </swiper-slide>
        <div class="autoplay-progress" slot="container-end">
            <svg viewBox="0 0 48 48">
                <circle cx="24" cy="24" r="20"></circle>
            </svg>
            <span></span>
        </div>
    </swiper-container>

    <p class="blog-description">Mais do que informar, nossas notícias mostram transparência e resultados concretos do impacto que estamos construindo juntos.</p>
</div>

<div class="section" id="agenda">
    <div class="section-topic">
        <img src="~/Media/Imgs/ROTARY-ENDRENAGEM.png" alt="Imagem da endrenagem da logo do rotary club" />
        <h1>AGENDA</h1>
    </div>

    <div class="agenda-content">
        <div class="agendas">
            <a class="agenda-2025" asp-area="" asp-page="" asp-fragment="">
                <img src="~/Media/Imgs/ROTARY-ENDRENAGEM.png" alt="Imagem da endrenagem da logo do rotary club" />
                <h1>2025</h1>
            </a>
            <a class="agenda-2026" asp-area="" asp-page="" asp-fragment="">
                <img src="~/Media/Imgs/ROTARY-ENDRENAGEM.png" alt="Imagem da endrenagem da logo do rotary club" />
                <h1>2026</h1>
            </a>
        </div>
        <div class="agenda-description">
            <p>Fique por dentro das próximas ações, pois a cada encontro é uma oportunidade de servir, compartilhar e transformar vidas.</p>
            <p>Participe conosco e ajude a construir um futuro melhor!</p>
        </div>
    </div>
</div>