@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" id="home">
    <img class="home-photo" src="~/Media/Imgs/HOME-IMG-ROTARY-CLUB-DE-URUÇUÍ.png" alt="Alternate Text" />
    <div class="home-contribute">
        <h1>UNIDOS PARA FAZER O BEM</h1>
        <img src="~/Media/Imgs/PIX-ROTARYCLUB-URUCUI-BR-CODE.png" alt="Alternate Text" />
        <a class="btn-contribute" href="#">CONTRIBUIR</a>
    </div>
</div>
